body{
    background-color: rgb(223, 215, 215);
}
.wrapper {
    max-width: 40%;
    margin: auto;
    background-color: #0F0F0F;
    /* background: url(img/Frame\ 2.png), #0F0F0F; */
    background-size: 100%;
    box-shadow: 0px 319px 128px rgba(0, 0, 0, 0.01), 0px 180px 108px rgba(0, 0, 0, 0.05), 0px 80px 80px rgba(0, 0, 0, 0.09), 0px 20px 44px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header {
    padding-top: 5%;
    font-family: 'Reem Kufi';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
}

main {
    max-width: 85%;
    margin: auto;
}

input {
    background: rgba(245, 245, 245, 0.7);
    border-radius: 10px;
    width: 100%;
    height: 61px;
    margin-top: 5%;
}

.rememberMe {
    display: flex;
    margin-top: 3%;
}

#checkbox {
    background: #E46C9E;
    border-radius: 5px;
    height: 27px;
    width: 5%;
    margin-top: 0;
}

.rememberMe p {
    margin-top: 0%;
    font-family: 'Reem Kufi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.5;
}

#button {
    background: #592082;
    border-radius: 10px;
    width: 100%;
    height: 61px;
    font-family: 'Reem Kufi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.helperBlock {
    display: flex;
    justify-content: space-between;
}

#forgotpass,
#signUp {
    font-family: 'Reem Kufi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #F5F5F5;
    opacity: 0.5;
    text-align: center;
}

#or {
    font-family: 'Reem Kufi';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(220, 217, 217, 0.5);
    border-radius: 10px;
    text-align: center;
    padding-top: 2%;
    width: 12%;
    height: 30px;
    margin-left: 45%;
}

.links {
    max-width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    padding-bottom: 5%;
}

.links a {
    width: 20%;
    height: 50px;
    border: 1px solid rgba(220, 217, 217, 0.5);
    border-radius: 10px;
}
.links a img{
    margin: 35%;
}